
  /* Общий верхний зеленый блок*/
.upside {
    position: relative;
     height: 236px;
     width: 750px;
     margin: 0 auto;
        background-color: #2D7053;
}
/* Белый круг*/
.whitecircl {
    display: block;
    position: absolute;
     left: 38px;
     top: 47px;
     width: 141px;
     height: 141px;
}
/* Текс в блоке зеленом верхнем*/
.main {
    position: absolute;
     height: 134px;
     width: 131px;
     left: 237px;
     top: 30px;
    font-size: 30px;
        font-weight: 200;
        color: white;
    
    
}
 /* 3 линии справа в верхнем зеленом блоке*/
.line {
    position: absolute;
     width: 84px;
     height: 12px;
     right: 44px;
     top: 84px;

}
.line2 {
    position: absolute;
     width: 84px;
     height: 12px;
     right: 44px;
     top: 112px;

}

.line3 {
    position: absolute;
     width: 84px;
     height: 12px;
     right: 44px;
     top: 140px;

}
/*центральный блок с картинкой офиса*/
.center {
    background-image: url(IMG/офис1.jpg);
    background-size: 750px 468px;
    position: relative;
    height: 468px;
    width: 750px;
    margin: 0 auto;
       
}
/*кнопка "записаться на прием"*/
.button {
   position: absolute;
    background-color: #CB9223;
    height: 50px;
    width: 342px;
    left: 196px;
    top: 369px;
         font-size: 24px;
         font-weight: 200;
         color: white;
         text-align: center;
         padding-top: 25px;
         
         
         
    

}
/*Блок инфо"*/
.info {
    background-color: white;
    position: relative;
        width: 750px;
        margin: 0 auto;
        
}
/*Фотка психолога*/
.face {
    display: block;
    position: absolute;
     left: 38px;
     top: 47px;
     width: 255px;
     height: 276px;
     border-radius: 50%;

}
/*Имя Фамилия*/
.namesername {
    position: absolute;
    font-weight: 500;
     top: 100px;
         right: 183px;
         width: 210px;
         height: 27px;

}
/*Специальность*/
.speciality {
    position: absolute;
    font-weight: 500;
    font-size: 22px;
     top: 180px;
         right: 147px;
         width: 245px;
         height: 50px;
}
/*Рассказ о себе и специальности*/
.speciality2 {
    position: absolute;
    font-weight: 500;
    font-size: 24px;
        top: 354px;
        left: 38px;
        width: 590px;
        height: 160px;
}
/*Заголовок "Почему надо к врачу"*/
.whyneed {
    position: absolute;
    font-weight: 500;
        top: 540px;
        left: 38px;
        width: 545px;
        height: 32px;
}
/*убрали маркер в списке"*/
li {
    list-style-type: none;
    
}
/*Список причин"*/
ul {
    position: absolute;
    font-weight: 500;
    font-size: 24px;
        top: 615px;
        width: 590px;
        height: 160px;
}
/*Вторая кнопка записи на примем*/
.button2 {
    position: absolute;
     background-color: #CB9223;
     height: 50px;
     width: 342px;
     left: 196px;
     top: 870px;
          font-size: 24px;
          font-weight: 200;
          color: white;
          text-align: center;
          padding-top: 25px;
}
/*Последний блок с номером и почтой*/
.last {
    position: relative;
    top: 1000px;
        width: 750px;
        height: 153px;
        margin: 0 auto;
        background-color: #888888;
}
/*Кружок белый снизу*/
.circle2 {
    display: block;
    position: absolute;
      left: 45px;
      top: 29px;
      width: 96px;
      height: 96px;
}
/*номер телефона*/
.telnumber {
    position: absolute;
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
        top: 56px;
        right: 44px;
        width: 136px;
        height: 15px;
}
/*почта*/
.mail {
    position: absolute;
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
        top: 98px;
        right: 44px;
        width: 144px;
        height: 17px;
}
/*адрес*/
.theaddress {
    position: absolute;
    color: white;
    font-weight: 500;
    font-size: 18px;
        top: 81px;
        right: 226px;
        width: 199px;
        height: 17px;
}
         



